@import url('https://fonts.googleapis.com/css?family=Domine|Pacifico|Raleway');
body {
	text-align: center;
	font: Georgia;
	font-size: 16px
}

#wrapper {
	width: 100%;
	padding: 1.5em;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	line-height: 0em;
}

hr {
	line-height: 0em;
}

h2 {
	font-family: 'Domine', serif;
	font-size: 2em;
}

a {
	color: #000;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	padding: 0 2.5em;
}

header {
	padding: 1.5em;
}

ul {
	list-style: none;
	padding: 0;
	text-align: center;

}
ul li {
	display: inline-block;
}

nav {
	border-bottom: .05em black solid;
	padding: .6em;
	margin: 0 0 1.5em 0;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	text-align: center;
}

#right {
	float: right;
	width: 30%;
}

article {
	padding: .6em 1.5em 1.5em;
	height: 28em
}

#slogan {
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
}

footer {
	border: .08em black solid;
	padding: .6em;
	margin: 1.5em 0 0 0;
	clear: both;
}

@media only screen and (max-width: 1085px) {
	#right{
		float: none;
		width: 100%;
	}
	article{
		height: 10em;
		padding: .6em .5em .5em;
	}
	#slogan{ 
		font-size: 1.5em;
	}
	#image1 img{
		width: 60%;
	}

@media only screen and (max-width: 870px) {
	nav, #slogan{
		font-size: 1.2em
	}
	article{ 
		padding: 0em;
	}
	h1{
		font-size: 2em;
	}
	h2{
		font-size: 1em;
	}
}

@media only screen and (max-width: 499px) {
	nav{
		font-size: 1em;
		padding: 0em 0em .5em 0em;
	}
	#slogan{
		font-size: 1em;
	}
	
}